.container {
  border: 1px dotted #A545B1;
  width: 300px;
  padding: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #A545B1;
  margin-bottom: 10px;
}

.args {
  margin-top: 10px;
  color: #A545B1;

  &__label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.li {
  list-style: inside !important;
}