.graph {
   &__query {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 0 0 21px 0;
   }
   &__endpoint {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      gap: 1rem;
   }
   &__header {
      margin: 0 0 21px 0;
   }
   &__intpoint {
      width: 100%;
      height: 36px;
      border: 1px solid #D3D4D5;
      border-radius: 5px;
      padding: 0 8px;
   }
   &__btn-endpoint {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 125%;
      font-weight: 500;
      color: #ffffff;
      width: 128px;
      height: 36px;
      background: #A545B1;
      border-radius: 5px;
      cursor: pointer;
   }

   &__docs {
      display: flex;
      flex-direction: column;
      position: relative;
   }
   &__show {
      margin: 0 0 14px;
      background-color: #104068;
      & label {
         text-align: center;
      }
      & label div {
         padding: 10px 0;
      }
      & label input {
         position: absolute;
         display: none;
         color: #ffffff;
      }
      & label input + div {
         font-weight: 500;
         color: #fff;
      }
   }
   & .graph__show_action input:checked + div {
      background-color: #F75A1B;
   }
   &__shema {
      &.graph__shema_active {
         width: 100%;
         position: absolute;
         top: 36px;
         left: 0;
         border: 1px solid #104068;
         background-color: #ffffff;
         padding: 0 14px;
         z-index: 8;
      }
   }

   &__edit {
      display: flex;
   }
   &__count {
      width: 20px;
      background-color: darkgray;
      font-weight: 600;
      line-height: initial;
      text-align: center;
      padding: 6px 0 0 0;
   }
   &__value {
      width: 50%;
      overflow: auto;
      border: 1px solid #D3D4D5;
      & textarea {
         width: 100%;
         padding: 3px 5px;
      }
   }
   &__result {
      position: relative;
      width: 100%;
      overflow: auto;
      border: 1px solid #D3D4D5;
   }
   &__status {
      display: flex;
      align-items: center;
      gap: 4px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 10px;
      font-weight: 500;
      background: #ffc78f;
      padding: 5px 11px;
   }
   &__status-bold {
      font-weight: 800;
   }
   &__json {}
}

.mdi-checkbox-marked-circle-outline::before {
   content: '\F0134';
   font-family: 'DesignIcons';
   font-size: 18px;
   font-weight: 800;
   color: green;
}

.mdi-close-circle-outline::before {
   content: '\F015A';
   font-family: 'DesignIcons';
   font-size: 18px;
   font-weight: 800;
   color: crimson;
}
